// -------------------------
// Navigation - Component
// -------------------------

.main-nav {
	& {
		clear: fix;
		fs: convertpxtorem(15);
		text-align: center;
	}
	
	.item {
		display: inline-block;
		margin-left: (double-space * 4);
		
		a {
			color: midnight-blue;
			fs: convertpxtorem(18);
			transition: all .4s;
		}
	}
}
