// -------------------------
// Variables
// -------------------------

// Font family
heading-font     = "Choplin"
content-font     = "Open Sans"

// Font size
base-font-size   = 10px
medium-font-size = 8.5px
small-font-size  = 7.5px

// Colors
dark-color       = #000
light-color      = #fff
heading-color    = midnight-blue
content-color    = midnight-blue
link-color       = #999
featured-color   = darkColor

// Custom colors
clouds           = #ecf0f1
midnight-blue    = #2c3e50
alizarin         = #ea6153

// Themes
themes = {
  primary-theme    : clouds,
  secondary-theme  : midnight-blue,
  tertiary-theme   : alizarin,
  quaternary-theme : lightColor
}

// Box Model
container-width  = 1280px
base-space       = 10px
double-space     = (base-space * 2)
