<section id="intro" class="content-section parallax">
	<div class="content-block">
		<h1 class="title">
			<span class="logo">WebDev FATEC - Grupo de Estudos sobre Desenvolvimento Web</span>
		</h1>
		<div class="description _align-left">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
		</div>
		<a class="button tertiary-theme-bg" href="#">Inscreva-se já!</a>
	</div>
</section>
