// -------------------------
// Main - Layout
// -------------------------

.content {
	& {
		clear: fix;
		padding-top: 100vh;
	}
	
	#intro {
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}	
}
