// -------------------------
// Fonts
// -------------------------

@font-face {
	font-family: 'Choplin';
	font-path: '/assets/fonts/choplin-medium-webfont';
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-path: '/assets/fonts/opensans-regular-webfont';
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-path: '/assets/fonts/opensans-italic-webfont';
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-path: '/assets/fonts/opensans-bold-webfont';
	font-style: normal;
	font-weight: bold;
}
